body {
    background-image: radial-gradient(#262a30, #14305c, #262a30);
    margin: 0;
}

.container {
    width: 85%;
    margin: 5% auto 5% auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
    left: 2%;
}

.card {
    margin-top: 10%;
    right: 2%;
    text-align: left;
    font-weight: bold;
    border: 3px solid black;
    height: fit-content;
}

hr {
    border-top: 2px solid #fff;
    width: 30%;
}

h1 {
    margin: 10px;
    font-family: "Lobster", cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #1391cc;
}

h2 {
    padding: 5%;
    font-family: "Ubuntu";
    color: #ffffff;
    text-shadow: 1px 0 #232931;
    font-size: 2rem;
    visibility: hidden;
}

p {
    font-size: 2rem;
    color: #1ca7d1;
    font-family: "Indie Flower", cursive;
}

img {
    width: 80%;
}

footer {
    margin-top: 15%;
    padding-bottom: 5%;
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Indie Flower", cursive;
}